@*
    Представление для вывода данных сотрудника    
*@

@model SibersTestTask.Models.Entities.Employee
@{
    ViewBag.Title = Model.SecondName + Model.FirstName + Model.FatherName;
}
<div>
    <a asp-action="Employees" asp-controller="Home" class="btn btn-dark">Back</a>
</div>
<h2>@Model.SecondName @Model.FirstName @Model.FatherName</h2>
<div>
    <a class="btn btn-dark" asp-action="EditEmployee" asp-controller="Edit" asp-route-id="@Model.Id">Edit</a>
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>@Model.Id</dd>

        <dt>Employee name</dt>
        <dd>@Model.SecondName @Model.FirstName @Model.FatherName</dd>

        <dt>Email</dt>
        <dd>@Model.Email</dd>
    </dl>
</div>
